@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
  background-color: #da1717;
  text-align: center;
  color: white;
  padding: 0 20px;
    display: flex;
    justify-content:space-evenly;
}
